
@{
    ViewData["Title"] = "Home";
}
@model IQueryable<newHealth.Models.Books>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 style="color: white;" class="mx-auto my-0 text-uppercase">Welcome</h1>
                
                <h2 class="text-white-50 mx-auto mt-2 mb-5">This resource is for Utah residents to improve their health and avoid conditions through treatment. </h2>
                <a class="btn btn-primary" href="#about">Find Healthcare Providers</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                @foreach (newHealth.Models.Books b in Model)
                {
                    {
                        <div class="card-outline-primary m-1 p-1">
                            <div class="p-1">
                                <h4>
                                    <!--I added the title and the author to be centered so they they were more up front.
    I also changed their font to be bolded. These are my 2 bootstrap changes.-->
                                    <p class=" text-center text-white fw-bold">@b.Name is in  @b.City</p>
                                    <span class="badge badge-pill " style="float:right">
                                        <small class="text-white">@b.Phone</small>
                                    </span>
                                </h4>
                                <br />
                            </div>
                            <div class="text-white p-1">@b.Description If you would like to learn more click <a href=@b.Website>here.</a></div>

                        </div>
                        <br />
                        <br />
                    }

                }
                <a class="btn btn-primary" asp-action="Index" asp-route-pageNum="1">Heart Disease</a>
                <a class="btn btn-primary" asp-action="Index" asp-route-pageNum="2">Heart Disease: Continued</a>
                <a class="btn btn-primary" asp-action="Index" asp-route-pageNum="3">Cancer</a>
                <br />
                <br />
                <br />
                <a class="btn btn-primary" asp-action="Index" asp-route-pageNum="4">Diabetes</a>
                <a class="btn btn-primary" asp-action="Index" asp-route-pageNum="5">Lung Disease</a>
                <a class="btn btn-primary" asp-action="Index" asp-route-pageNum="6">Stroke</a>

            </div>
        </div>
    </div>
</section>

