
@{
    ViewData["Title"] = "Capstone";
}

<header class="masthead2">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <section class="page-section about-heading">

                <div class="container">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src=https://www.uvu.edu/news/2022/04/images/2022_04_19_herbert_institute.jpg alt="..." />
                    <div class="about-heading-content">
                        <div class="row">
                            <div class=" text-white col-xl-9 col-lg-10 mx-auto">
                                <div class="bg-faded rounded p-5">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-upper">Healthcare Inspires Greatness</span>
                                        <span class="section-heading-lower">About my Capstone</span>
                                    </h2>
                                    <p>
                                        Hi, my name is Ashley Suyak and this website and research make up my Honors Capstone for my Bachelor’s Degree in Healthcare Administration at Utah Valley University. For my project, I chose to put together a resource list for facilities in Utah County that specialize in five health conditions that are common in Utah County. These health conditions include Heart Disease, Cancer, Lung Disease, Stroke and Diabetes. I wanted to focus on a few of the main health conditions that people in Utah County are dealing with. There are many other health conditions that people have, but these are the most serious conditions.
                                        <br />
                                        <br />
                                        I researched how the different areas of health and how the area you live in, and your family interact with your overall health. Then based on what I found with that research, I put together a list of different locations of doctors and their specialties. I studied the main health issues that we face in Utah and found ways to combat those issues through my research.
                                        <br />
                                        <br />
                                        I was very interested in learning more about how a combination of your surroundings can affect your health. I have seen in my life how different areas that people live in can lead to added stress which can lead to many other challenges, or it can enhance health issues that are already there.
                                        <br />
                                        <br />
                                        I think that half the battle of health issues is being able to diagnose those issues and find treatments for the health issue, medications that can help you, and care that can be provided to you. To diagnose your health issues, you need to be able to go to see a provider that you can trust and that does a good job. That is why I want to make a difference by sharing this list of providers that I compiled that specialize in the five areas that I have chosen to focus on.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</header>
<!-- About-->

    <!-- Projects-->
    <section class="projects-section bg-black" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><iframe width="560" height="315" src="https://www.youtube.com/embed/95ovIJ3dsNk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Where you live and your health.</h4>
                                <p class="mb-0 text-white-50">  Childhood trauma isn’t something you just get over as you grow up. Pediatrician Nadine Burke Harris explains that the repeated stress of abuse, neglect and parents struggling with mental health or substance abuse issues has real, tangible effects on the development of the brain. This unfolds across a lifetime, to the point where those who’ve experienced high levels of trauma are at triple the risk for heart disease and lung cancer. An impassioned plea for pediatric medicine to confront the prevention and treatment of trauma, head-on.</p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><iframe width="560" height="315" src="https://www.youtube.com/embed/evw0h1kg-j4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Parenting shapes children</h4>
                                <p class="mb-0 text-white-50">Parents, take a deep breath: how your kids turn out isn't fully on you. Of course, parenting plays an important role in shaping who children become, but psychologist Yuko Munakata offers an alternative, research-backed reality that highlights how it's just one of many factors that influence the chaotic complexity of childhood development. A rethink for anyone wondering what made them who they are today and what it means to be a good parent. </p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><iframe width="560" height="315" src="https://www.youtube.com/embed/62cNtvx6P8E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Where you live and your health.</h4>
                                <p class="mb-0 text-white-50">Where you live: It impacts your health as much as diet and genes do, but it's not part of your medical records. At TEDMED, Bill Davenhall shows how overlooked government geo-data (from local heart-attack rates to toxic dumpsite info) can mesh with mobile GPS apps to keep doctors in the loop. Call it "geo-medicine."</p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <p class="text-white">For the complete research paper click <a href=https://docs.google.com/document/d/1InYl5waSOI1-rdEkyqwgN333DVmbh6VAEGyhVhmVhbc/edit?usp =sharing>here!</a></p>
                </div>
            </div>
        </div>
    </section>
