@{
    ViewData["Title"] = "Health Conditions";
}

<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><iframe width="560" height="315" src="https://www.youtube.com/embed/0JPe-U4iLMA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Five Common Health Conditions</h4>
                    <p class="text-black-50 mb-0">You can learn more about what the five health conditions common in Utah are and how to treat those conditions below. The five health conditions are Heart Disease, Cancer, Diabetes, Stroke, and Lung Disease. This video describes how to improve your health so that you can prevent these health conditions and/or stop the health conditions from worsening.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><iframe width="520" height="315" src="https://www.youtube.com/embed/8E_NPCZCNdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Heart Disease</h4>
                            <p class="mb-0 text-white-50">
                                Heart disease is a big term referring to any disease of the heart.

                                And that refers to a buildup of plaque in the arteries. Over time, it can lead to narrowing of arteries and risk of a heart attack.

                                Most coronary artery disease is preventable, says Dr. Hayes.  Know your cholesterol and blood pressure  numbers, and maintain a normal weight.  [These are] all ways to help reduce your risk of heart disease.
                            </p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><iframe width="520" height="315" src="https://www.youtube.com/embed/9v4mLrPLMHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Cancer</h4>
                            <p class="mb-0 text-white-50">
                                Not all types of cancer can be prevented. However, research shows that lifestyle factors such as nutritional choices, regular exercise, and reducing stress can lower a person’s risk of developing certain types of cancer. Medical oncologist Dr. Mark A. O’Rourke discusses why these factors are important in lowering cancer risk.
                            </p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><iframe width="520" height="315" src="https://www.youtube.com/embed/wZAjVQWbMlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Diabetes</h4>
                            <p class="mb-0 text-white-50">
                                3.8 million people have been diagnosed with diabetes in the UK, but a lot of people still don't know what diabetes is.

                                Diabetes is a serious, lifelong condition where your blood glucose level is too high.

                                There are two main types, Type 1 and Type 2. They're different conditions, but they're both serious. There are some other rarer types of diabetes too.
                            </p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><iframe width="520" height="315" src="https://www.youtube.com/embed/Sg3GoZjoeD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Lung Disease</h4>
                            <p class="mb-0 text-white-50">
                                Lung disease is any problem in the lungs that prevents the lungs from working properly. There are three main types of lung disease: Airway diseases -- These diseases affect the tubes (airways) that carry oxygen and other gases into and out of the lungs. They usually cause a narrowing or blockage of the airways. Visit the <a href="https://www.nhlbi.nih.gov/health-topics/education-and-awareness/lung-health/videos">nhlbi</a> website for more information
                            </p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><iframe width="520" height="315" src="https://www.youtube.com/embed/ZOSvuDmqOdg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Stroke</h4>
                                <p class="mb-0 text-white-50">A stroke can change life in an instant. But with the right support, and a tonne of courage and determination, the brain can adapt.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


